<%= form_with(model: session, local: true) do |form| %>
  <form>
    <input type="text" id="login" class="fadeIn second" name="email" placeholder="login">
    <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
    <input type="submit" class="fadeIn fourth" value="Log In">
  </form>
<% end %>
